body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1461301214746-1e109215d6d3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    text-align: center;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    height: 80px;
    width: 100px;
    background-color: rgb(69, 47, 18);
    border-radius: 8px 8px 0 0;
    opacity: 80%;
    color: beige;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3px);
}

.clock .text {
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(8, 3, 0);
    opacity: 0.8;
    border-radius: 0px 0px 8px 8px;
}

#ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(4, 78, 78);
    border-radius: 8px;
}